<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esto es un proyecto de prueba</title>
</head>
<body>
    <header>
        <div class="contenedor">
            <h1>Este es una prueba en aws</h1>
        </div>
    </header>
    <section>
        <div class="contenedor">
            <p>Y esta hecho en django para posteriormente ser subido en aws</p>
        </div>
    </section>
    <form action="{%url 'segunda_pagina'%}">
        <button type="submit">Enviar</button>
    </form>
</body>
</html>